name: Deploy Memo Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          command_timeout: 30m
          script: |
            export PATH=$HOME/.nvm/versions/node/v22.22.0/bin:$PATH
            cd ~/htdocs/memo-nextjs-prisma

            echo " "
            echo " "
            echo "==============================================="
            echo "[Step 1] Fetching latest code..."
            echo "==============================================="

            PREVIOUS_COMMIT=$(git rev-parse HEAD)
            
            git fetch origin main
            git reset --hard origin/main

            echo " "
            echo " "
            echo "==============================================="
            echo "[Step 2] Checking dependency changes..."
            echo "==============================================="

            if git diff --name-only HEAD@{1} HEAD | grep -qE "package.json|pnpm-lock.yaml"; then
              echo " > Dependencies changed. Running install..."

              pnpm install --frozen-lockfile
            else
              echo " > No dependency changes. Skipping install."
            fi

            echo " "
            echo " "
            echo "==============================================="
            echo "[Step 3] Checking source code changes..."
            echo "==============================================="

            if git diff --name-only $PREVIOUS_COMMIT HEAD | grep -qE "^(app/|src/|components/|lib/|public/|next.config.|tailwind.config.)"; then
              echo " > Source code changed. Building..."
              pnpm dlx prisma generate
              pnpm build
              
              echo " "
              echo " "
              echo "==============================================="
              echo "[Step 4] Reloading or Starting Server..."
              echo "==============================================="
              
              if pm2 describe memo > /dev/null 2>&1; then
                echo " > Server is running. Reloading..."

                pm2 reload memo --update-env
              else
                echo " > Server is NOT running. Starting fresh..."

                pm2 start pnpm --name "memo" -- start -p 3003
              fi

              echo " > Server Operation Complete."
            else
              echo " > No source changes. Skipping build & reload."
            fi

            echo " "
            echo " "
